body {
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
}

#gameboard {
    outline: 2px solid black;
    width: 400px;
    height: 400px;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
}

.centre-start-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#score-board {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.flex {
    display: flex;
    gap: 10px;
}

.cell {
    outline: 0.5px solid black;
    width: 33.33%;
    height: 33.33%;
}

.cross {
    background-image: url('img/cross.svg');
}

.circle {
    background-image: url('img/circle.svg');
}

.circle,
.cross {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
}

.straight-line-cell {
    background-color: #0FFF50;
}